# Configurações do Servidor
PORT=3002

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_NAME=ecommerce_sacola

# Chave secreta para JWT (DEVE SER A MESMA da API de Catálogo)
JWT_SECRET=sua_chave_secreta_super_segura_aqui_123456

# Configurações de Frete
FRETE_MINIMO=200
VALOR_FRETE=25
